.Loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 30px;
  background-color: var(--mcolor);
  .image {
    height: 100px;
    // animation: fade 2.5s infinite;
    @media (max-width: 767px) {
      height: 60px;
    }
    img {
      object-fit: contain;
    }
  }
  p {
    font-size: 25px;
    font-weight: 500;
    font-family: "rptBold";
    text-align: center;
  }
  .text-focus-in {
    -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      infinite both;
    animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
      both;
  }
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    30% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
    70% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
    100% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    30% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
    70% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
    100% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
  }

  @keyframes fade {
    0% {
      opacity: 0; /* Start with 0% opacity */
    }
    50% {
      opacity: 1; /* End with 100% opacity */
    }
    100% {
      opacity: 0; /* End with 100% opacity */
    }
  }
}
