.Navbar {
  direction: rtl;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
  *{
    font-family: "rptRegular", sans-serif;
  }
  .top {
    border-bottom: 1px solid white;
    .image {
      width: 225px;
    }
    p {
      font-weight: bold;
      color: white;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .links {
      display: flex;
      gap: 25px;
      margin-bottom: 0;
      padding: 10px 0;
      font-size: 16px;
      font-weight: 700;

      color: white;
      @media (max-width: 992px) {
        display: none;
      }
      a{
        display: flex;
        align-items: center;
      }
      .sale{
        background-color: red;
        padding: 5px 15px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white !important;
      }
      li {
        text-align: center;
        cursor: pointer;
      }
    }
    .numbers {
      display: flex;
      align-items: center;
      gap: 20px;
      .num {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        .icon {
          width: 20px;
        }
      }
    }
    
  }
}
