@font-face {
  font-family: "rptBold";
  src: url("./fonts/rpt-Bold.ttf") format("truetype");
  font-weight: normal; /* adjust as needed */
  font-style: normal; /* adjust as needed */
}
@font-face {
  font-family: "rptRegular";
  src: url("./fonts/alfont_com_rpt-Regular.ttf") format("truetype");
  font-weight: normal; /* adjust as needed */
  font-style: normal; /* adjust as needed */
}
:root {
  --mcolor: #2d1989;
  --scolor: #02c1db;
}

* {
  transition: 0.5s !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
a.active {
  text-decoration: none !important;
  color: var(--scolor) !important;
}
.accordion-item {
  margin-bottom: 30px;
  border: none !important;
  // direction: rtl;
}
.accordion-button {
  background-color: #2d188814 !important;
  border-radius: 16px 16px 0 0 !important;
  padding: 20px 60px !important;
}
.accordion-button::after {
  display: none;
}
.accordion-collapse {
  border-radius: 0 0 16px 16px !important;
  background-color: #2d1989 !important;
  color: white;
  padding: 10px 40px;
}
.offcanvas.offcanvas-end.show {
  background-color: #2d1989 !important;
}
.closeBtn {
  font-size: 24px;
  color: white !important;
  cursor: pointer;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;
  @media (max-width: 992px) {
    display: flex;
  }
  svg {
    width: 40px;
    height: 40px;
  }
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 5;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 5;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 5;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 5;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 5;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 5;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 5;
}
.sideLinks {
  text-align: end;
  padding: 0;
  margin-bottom: 0;
  font-family: "rptRegular", sans-serif;
  li {
    color: white;
    list-style: none;
    border-bottom: 1px solid white;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      color: #02c1db;
    }
  }
}
.app {
  
  .whatsapp {
    background-color: var(--mcolor);
    position: fixed;
    top: 30%;
    padding: 10px;
    left: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover .image{
      animation: shake 0.8s infinite ;
    }
    @keyframes shake {
      0% { 
        rotate: 0deg;
      }
      25% { 
        rotate: 45deg;
      }
      // 50% { 
      //   rotate: 0deg;
      //  }
      75% { 
        rotate: -25deg;
       }
      100% { 
        rotate: 0deg;
      }
    }
    .image{
      width: 35px;
      height: auto;
    }
    @media (max-width: 767px) {
      width: 50px;
      height: 50px;
      padding: 10px;
    }
  
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px; /* Small devices (576px and up) */
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px; /* Medium devices (768px and up) */
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 1200px; /* Large devices (992px and up) */
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; /* Extra-large devices (1200px and up) */
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  p {
    margin-bottom: 0;
  }
  .secH {
    color: var(--mcolor);
    font-family: "rptBold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    @media (max-width: 992px) {
      text-align: center !important;
    }
    @media (max-width: 767px) {
      font-size: 30px;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  li {
    list-style: none;
  }
  .buttons {
    display: flex;
    gap: 20px;
    font-family: "rptRegular", sans-serif;
    .button {
      font-size: 20px;
      font-weight: 600;
      padding: 15px 20px;
      border: 3px solid white;
      position: relative;
      z-index: 1;
      border-radius: 16px;
      cursor: pointer;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
    .button1 {
      z-index: 1;
      border-radius: 16px;
      cursor: pointer;
      &:hover {
        // border-color: var(--mcolor);
        background-color: white;
        color: var(--mcolor);
      }
    }
    .button2 {
      z-index: 1;
      border-radius: 16px;
      background-color: white;
      color: var(--mcolor);
      cursor: pointer;
      &:hover {
        // border-color: var(--mcolor);
        background-color: var(--mcolor);
        color: white;
      }
    }
  }
  .EnjazzForm {
    direction: rtl;
    padding: 60px 0;
    .container {
      display: flex;
      flex-direction: column;
      gap: 25px;
      @media (max-width: 992px) {
        align-items: center;
      }
      h1 {
        font-size: 36px;
        font-weight: 500;
        font-family: "rptBold";
        color: var(--mcolor);
        @media (max-width: 992px) {
          text-align: center !important;
        }
        @media (max-width: 767px) {
          font-size: 29px;
        }
      }
      p {
        font-size: 24px;
        font-weight: 500;
        font-family: "rptBold";
        color: black;
        @media (max-width: 992px) {
          text-align: center !important;
        }
        @media (max-width: 767px) {
          font-size: 19px;
        }
      }
      .EnjazzFormInputs {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        .EnjazzFormInput {
          padding: 20px;
          border-radius: 16px;
          border: 1px solid #c9c7c7;
          font-size: 20px;
          font-weight: 500;
          font-family: "rptBold";
          max-width: 75%;
          @media (max-width: 992px) {
            width: 100%;
            max-width: unset;
            margin: auto;
          }
          @media (max-width: 767px) {
            font-size: 16px;
          }
        }
        .EnjazzFormInputFile {
          position: relative;
          display: flex;
          width: fit-content !important;
          align-items: center;
          gap: 13px;
          @media (max-width: 767px) {
            gap: 8px;
          }
          .icon {
            width: 40px;
            @media (max-width: 767px) {
              width: 25px;
              min-width: 25px;
            }
          }
          p {
            color: #969696;
            font-size: 20px;
            font-weight: 500;
            font-family: "rptBold";
            @media (max-width: 767px) {
              font-size: 16px;
            }
          }
          span {
            font-size: 15px;
            font-weight: 500;
            font-family: "rptBold";
            @media (max-width: 767px) {
              font-size: 13px;
            }
          }
          input {
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            opacity: 0;
            cursor: pointer;
          }
        }
      }
      .EnjazzFormBtn {
        background-color: var(--mcolor);
        padding: 15px 100px;
        border-radius: 16px;
        color: white;
        font-weight: 500;
        font-family: "rptBold";
        font-size: 25px;
        cursor: pointer;
        width: fit-content;
        border: 3px solid var(--mcolor);
        &:hover {
          border-color: var(--mcolor);
          background-color: white;
          color: var(--mcolor);
        }
        @media (max-width: 767px) {
          font-size: 19px;
          padding: 15px 50px;
        }
      }
    }
  }
}
